*{{name}}.txt*	{{ desc }}

{{#sections}}
|{{ id }}|	{{ title }}
{{/sections}}

{{#sections}}
{{ title }}				*{{ id }}*

{{#parts}}
{{{ body }}}

{{/parts}}

{{/sections}}

vim:tw=78:ts=8:ft=help:norl:
